<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>地図を表示しよう</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css">
</head>
<body>
<%= @latitude %>,<%= @longitude %>

<form action="/" method="post">
  <p>場所の追加</p>
  <label>場所<input type="text" name="title"></label>
  <label>緯度<input type="text" name="latitude"></label>
  <label>軽度<input type="text" name="longitude"></label>
  <label>メモ<input type="text" name="memo"></label>
  <input type="submit" value="データー追加">
</form>
<form action="/delete" method="post">
  <input type="submit" value="データークリア">
</form>

<% if @places.any? %>
  <p>マイリスト</p>
  <table border="1">
    <thead>
    <tr>
      <th>場所</th>
      <td>緯度</td>
      <td>軽度</td>
      <td>メモ</td>
    </tr>
    </thead>
    <tbody id="map-list">
    <% @places.each_with_index do |place, index| %>
      <tr id="place-id-<%= index %>">
        <th class="title"><%= place[:title]%></th>
        <td class="latitude"><%= place[:latitude]%></td>
        <td class="longitude"><%= place[:longitude]%></td>
        <td class="memo"><%= place[:memo]%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <form action="/" method="get" id="select-form">
    <input type="hidden" name="index">
  </form>
<% end %>

<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
<script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>
<div id="map" style="width: 100%; height: 500px;"></div>

<div>
  <p>$$$$$$この部分はテキストで書く所です。$$$$$$</p>
  <p>グーグルマップで場所を検索すると図の赤線ように緯度と経度のデーターが取得できます。</p>
  <p>このデーターを使って自分のリストを作ってみましょう。</p>
  <img src="https://gyazo.com/2b34b16ecdb41b21a3d484803389f090.jpg"/>
  <p>$$$$$$※この部分はテキストで書く所です。$$$$$$</p>
</div>
<script>
  var map = L.map('map').setView([<%= @latitude %>, <%= @longitude %>], 13);
  L.tileLayer(
    'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 18,
    }).addTo(map);
  L.marker(
    [<%= @latitude %>, <%= @longitude %>],
    { title: "marker-title" }
  ).addTo(map)
    .bindPopup("<h3><%= @title %></h3><div><%= @memo %></div>")
    .openPopup();

  const mapList = document.getElementById('map-list');

  mapList.addEventListener('click', (e) => {
    const targetForm = document.getElementById('select-form');
    const targetIndex = e.target.parentNode.getAttribute('id').replace('place-id-', '');
    console.log(targetIndex);
    targetForm['index'].value = targetIndex;
    console.log(targetForm['index'].value);
    targetForm.submit();
  });
</script>
</body>
</html>
<% params = {} %>

