<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>地図を表示しよう</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css">
</head>
<body>
  <%= @latitude %>,<%= @longitude %>
  <form action="/" method="get">
    <input name="q" value="<%= params[:q] %>">
    <input type="submit" value="検索する">
  </form>

  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>  
  <script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>
  <div id="map" style="width: 100%; height: 500px;"></div>

  <script>
    // 地図表示
    var map = L.map('map').setView([<%= @latitude %>, <%= @longitude %>], 13);
    L.tileLayer(
      'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
       }).addTo(map);
    L.marker(
      [<%= @latitude %>, <%= @longitude %>],
      { title: "marker-title" }
    ).addTo(map)
      .bindPopup("<h3><%= @title %></h3>")
      .openPopup();
  </script>

</body>
</html>

